@import '../../assets/stylesheets/colors';

.navbar-wrapper {
  background: $color-blue-dark;

  .navbar__logo {}

  .navbar__list {
    &--item {
      display: flex;

      .list--item_logo {
      }

      .list--item_name {
        font-weight: 700;
        font-size: 14px;
        //line-height: 17.05px;
        color: $color-white;
      }

      &-active {
        background: $color-blue-medium;
      }
    }
  }
}